@import '../assets/styles/utilities/variables';

.title {
  font-size: $fuente-tamano-grande;
  color: $color-primario;
  font-family: $fuente-primaria;
  font-weight: 400; // Usará la variante Regular por defecto
}

.bg{
    background: linear-gradient(rgba(255, 255, 255, 0.6),rgba(255, 255, 255, 0.6)), url('../assets/images/madera.jpg') center center no-repeat;
    background-size: cover;
}
.h-full{
    height:100vh;
}